body {
  font-family: arial;
  font-size: 70%;
  line-height: 2em;
  margin-top: 30px auto;
  background: aqua;
  text-align: center;
}

thead {
  background: #salmon;
}

td {
  padding: 20px;
  border: solid 1px salmon;
}

h1, h2 {
  color: blue;
  text-align: center;
}

h1{ font-size: 11em;
  font-family: 'Ravi Prakash', cursive;
  margin: 50px auto;
  border: 50px salmon;

}

h2{

  font-size: 6em;
  font-family: 'Ravi Prakash', cursive;
  text-decoration: underline;
  text-decoration-color: salmon;
  text-decoration-style: wavy;
  text-transform: full-width;
  background:
}

div {
  text-type:
  background-color: salmon;
  margin: 50px auto;
  border: 50px aqua;
  padding: 50px;
  text-align: center;
}

p {
  font-size: 3em;
  margin: 50px;
  border: 2%;
  background: pink;
  text-align: center;
}

nav{
  font-size:4em;
  font-family: 'Ravi Prakash', cursive;
  color: blue;
  text-decoration: underline;
  text-decoration-color: salmon;
  text-decoration-style: wavy;
  text-shadow: 4em white;
  width: 100%;
  text-align: center;
  background: salmon;
}

  /*I used this template for the bubbles I typed it myself but I liked it because it was easy to read and understand the code https://codepen.io/jonitrythall/pen/bivaG -->*/

.bubbles {
  position: absolute;
  bottom: 0;
  z-index: 5;
  margin-right: 50px;
  background-color: white;
  border-radius: 50%;
  opacity: .50;
  width: 40px;
  height: 40px;
  animation: up 4s infinite;
}

.bubble-2 {
  left: 350px;
  animation: up 2s infinite;
}

.bubble-3 {
  left: 750px;
  opacity: .30;
  animation: up 5s infinite;
}

.bubble-4 {
  left: 1150px;
  animation: up 6s infinite;
}

.bubble-5 {
  left: 50px;
  animation: up 5s infinite;
}

.bubble-6 {
  left: 300px;
  opacity: .30;
  animation: up 3s infinite;
}

.bubble-7 {
  left: 670px;
  animation: up 4s infinite;
}

.bubble-8 {
  left: 1050px;
  opacity: .30;
  animation: up 3s infinite;
}

@keyframes up {
  100% {
    transform: translateY(-800px);
  }
}
/* base styles */

fieldset {
  padding: 20px;
}

input[type="text"] {
  padding: 7px;
  margin-left: 7px;
  border: solid 1px #000;
  border-radius: 3px;
}

input[type="text"]:focus {
  background: #000;
  color: #fff;
}

button {
  margin-left: 20px;
  margin-bottom: 20px;
  border: none;
  padding: 8px 18px;
  background: #000;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  font-size: 20px;
}

table {
  margin-left: 20px;
}


td {
  padding: 20px;
  border: solid 1px #000;
}
