body {
  font-family: arial;
  font-size: 70%;
  line-height: 2em;
  margin-top: 30px auto;
  background: purple;
  text-align: center;
}

thead {
  background: #888;
}

td {
  padding: 20px;
  border: solid 1px black;
}

h1, h2 {
  color: salmon;
  text-align: center;
}

h1{ font-size: 11em;
  font-family: 'Ravi Prakash', cursive;
}

h2{ font-size: 4em;
  font-family: 'Ravi Prakash', cursive;
  background: black;
}

div {
  text-type:
  background-color: salmon;
  margin: 50px auto;
  border: 50px salmon;
  padding: 50px;
  text-align: center;
}

p {
  margin: 50px;
  border: 2%;
  background: pink;
  text-align: center;
}

nav{
  width: 100%;
  display: inline-block;
  text-align: center;
  background: salmon;
}
